body {
    background-color: #1D4221;
    color: white;
    font-family: "Gowun Batang", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color: #8cff00;
    color: black;
    font-family: "Gowun Batang", serif;
}

.passo {
    display: none;
}
.passo.ativo {
    display:block;
}
main {
    text-align: center;
    max-width: 90%;
}
img {
    max-width: 90%;
}